<div class="card">
  <% @posts.each do |post| %>
    <h2><%=link_to post.title, post_path(post)%></h2>
    <%=post.created_at.strftime("%e %b %Y")%> |
    <% post.categories.each do |category| %>
      <%= link_to category.name, category_path(category) %>
        <% if(category != post.categories.last) %>
        ,
        <% end %>
    <% end %>
    <p><%=truncate(strip_tags(post.body.to_s), length: 160) %></p>
    <%= link_to 'read more', post_path(post) %>
  <% end %>
</div>
