<div class="card">
  <% @posts.each do |post| %>
    <h2><%=link_to post.title, post_path(post)%></h2>
    <%=post.created_at.strftime("%e %b %Y")%> |
    <% array = [] %>
    <% post.categories.each do |category| %>
      <% array << category.name %>
    <% end %>
    <%= array.join( ', ' ) %></br>
    <p><%=truncate(strip_tags(post.body.to_s), length: 160) %></p>
    <%= link_to 'read more', post_path(post) %>
  <% end %>
</div>
