<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %>
</br>
<div class="card">
  <%= @post.created_at.strftime("%e %b %Y") %>
  |
  <% array = [] %>
  <% @post.categories.each do |category| %>
    <% array << category.name %>
  <% end %>
  <%= array.join( ', ' ) %></br>
  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>
</div>
