<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %>

</br>

<div class="card">
  <%= @post.created_at.strftime("%e %b %Y") %>
  |
  <% @post.categories.each do |category| %>
    <%= link_to category.name, category_path(category) %>
  <% end %>

  <h2><%= @post.title %></h2>
  <p><%= @post.body %></p>

  <h2>Previous Post</h2>
  <% if @previous_post.present? %>
    <div><%= link_to @previous_post.title, post_path(@previous_post) %></div>
  <% end %>

  <h2>Next Post</h2>
  <% if @next_post.present? %>
    <div><%= link_to @next_post.title, post_path(@next_post) %></div>
  <% end %>

  <h2>You May Also Like </h2>
  <% if @related_posts.present? %>
    <% @related_posts.each do |related_post| %>
      <div><%= link_to related_post.title, post_path(related_post) %></div>
    <% end %>
  <% end %>

  <h2>Comments</h2>
  <% @post.comments.each do |comment| %>
  <div id="<%= comment.id %>">
    <p>
      <strong>Commenter:</strong>
      <%= comment.name %>
    </p>
    <p>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>
  </div>
  <% end %>

  <h2>Add a comment:</h2>
  <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %><br>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>

  <%= link_to "Edit", edit_post_path(@post) %>
  <%= link_to "Back", root_path %>
</div>
