<!DOCTYPE html>
<html>
  <head>
    <title>Narauju</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h2><%= link_to "NARAUJU BLOG", root_path %></h2>
    </div>

    <div class="row">
      <div class="leftcolumn">
      <% if flash[:notice].present? %>
        <%= flash[:notice] %>
      <% end %>
        <%= yield %>
      </div>

      <div class="rightcolumn">
        <div class="card">
          <h2>About Me</h2>
          <%= image_tag("nisfa.jpg", size: "225x150") %>
          <p> Hi, nama saya Hauril Maulida Nisfari, seorang Ibu dan Istri, suka menulis dan ngoding.
              Dulu sempat bekerja sebagai Odoo Developer dan sekarang sedang belajar Ruby on Rails.</p>
        </div>
        <div class="card">
          <h3>Popular Post</h3>
          <% @popular_posts.each do |popular_post| %>
            <div><%= link_to popular_post.title, popular_post %></div></br>
          <% end %>
        </div>
        <div class="card">
          <h3>My Repository</h3><br>
          <%= link_to image_tag("github.png"), "https://github.com/haurilnisfari"  %>
        </div>
        <div class="card">
          <h3>Category</h3>
          <% @categories.each do |category| %>
            <div><%= link_to category.name, category_path(category) %></div></br>
          <% end %>
        </div>
      </div>
    </div>

    <div class="footer">
      <%= link_to image_tag("twitter.png"), "https://twitter.com/haurilmnisfari"  %>
      <%= link_to image_tag("facebook.png"), "https://www.facebook.com/haurilmaulida.nisfari"  %>
      <%= link_to image_tag("instagram.png"), "https://www.instagram.com/haurilmnisfari"  %>
      <%= link_to image_tag("linkedin.png"), "https://www.linkedin.com/in/hauril-maulida-nisfari-7b8a6891/"  %>
    </div>

  </body>
</html>
